{% extends "base.html" %}

{% block title %}about{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<img src="{{ url_for('static', filename='images/photo.jpg') }}" alt="profile photo" class="profile-img">
<h2>Балышев А.М</h2>
<p class="lead text-white-50">Обо мне</p>
<ul class="list-group about-me-list">
    <li class="list-group-item">📚 Студент СПбГУ ПИ '28</li>
    <li class="list-group-item">💻 Начинающий компиляторный инженер</li>
    <li class="list-group-item">💸 Стипендиат YADRO</li>
    <li class="list-group-item">🕸️ Веб-разработчик</li>
</ul>
<a href="{{ url_for('index') }}" class="btn btn-lg bw-btn mt-4">На главную</a>
{% endblock %}