{% extends "base.html" %}

{% block title %}contacts{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/contacts.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<h2>Контактные данные</h2>
<p class="lead text-white-50">Свяжитесь со мной удобным способом</p>
<ul class="list-group contacts-list">
    <li class="list-group-item">
        <strong>Telegram:</strong>
        <a href="https://t.me/prettysorrow">@prettysorrow</a>
    </li>
    <li class="list-group-item">
        <strong>GitHub:</strong>
        <a href="https://github.com/prettysorrow">@prettysorrow</a>
    </li>
</ul>
<a href="{{ url_for('index') }}" class="btn btn-lg bw-btn mt-4">На главную</a>
{% endblock %}