{% extends "base.html" %}

{% block title %}projects{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/projects.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<h2>Мои проекты</h2>
<p class="lead text-white-50">Некоторые работы за последнее время</p>
<ul class="list-group project-links">
    <li class="list-group-item">
        <strong>ADT в rukaml:</strong>
        <a href="https://github.com/prettysorrow/third-sem-practice">github.com/prettysorrow/third-sem-practice</a>
    </li>
    <li class="list-group-item">
        <strong>Интерпретатор miniML:</strong>
        <a href="https://github.com/Kakadu/fp25/pull/4">github.com/Kakadu/fp25/pull/4</a>
    </li>
    <li class="list-group-item">
        <strong>Компилятор императивного языка:</strong>
        <a href="https://github.com/prettysorrow/compiler">github.com/prettysorrow/compiler</a>
    </li>
    <li class="list-group-item">
        <strong>Персональная веб-страница:</strong>
        <a href="https://github.com/prettysorrow/web-page">github.com/prettysorrow/web-page</a>
    </li>
</ul>
<a href="{{ url_for('index') }}" class="btn btn-lg bw-btn">На главную</a>
{% endblock %}